@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2a3a54  ;
}

.server-list {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  padding-right: 0.5rem; /* Equivalent to pr-2 */
  margin-bottom: 1rem; /* Equivalent to mb-4 */
}